/* Mobile Devices */
@media (max-width: 480px) {
  .nav-right .nav-item {
    display: none;
  }
  .logo img {
    width: 100px;
  }
  header {
    height: 590px;
  }
  .header-image {
    width: 270px;
    margin-top: 30px;
  }
  .header-text {
    margin-top: 330px;
    padding-right: 50px;
  }
  .header-text h2 {
    font-size: 22px;
  }
  .header-text p {
    font-size: 10px;
  }
  /* Mid Section */
  .company .company-item {
    display: block;
    margin-left: 0px;
  }
  .blog-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 0 0;
    padding-bottom: 60px;
    /* background-color: aquamarine; */
    flex-flow: wrap;
  }
  .blog-card {
    flex-grow: 1;
    padding-bottom: 50px;
  }
  .blog-bottom img {
    left: 40px;
  }
  

  
}


/* ipads, Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .nav-right .nav-item {
    display: none;
  }
  .logo img {
    width: 100px;
  }
  header {
    height: 600px;
  }
  .header-image {
    width: 370px;
    margin-top: 30px;
  }
  .header-text {
    margin-top: 400px;
  }
  .header-text h2 {
    font-size: 25px;
  }
  .header-text p {
    font-size: 10px;
  }
  /* Mid Section */
  .company .company-item {
    margin-left: 30px;
  }
  .blog-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 0 0;
    padding-bottom: 60px;
    /* background-color: aquamarine; */
    flex-flow: wrap;
  }
  .blog-card {
    flex-grow: 1;
    padding-bottom: 50px;
  }
  .blog-bottom img {
    left: 40px;
  }
}


/* Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  /* Navigation */
  .nav-right i {
    display: none;
  }
  .nav-right .nav-item {
    margin-left: 25px;
  }
  .header-image {
    width: 370px;
    margin-top: 30px;
  }
  .header-text h2 {
    font-size: 25px;
  }
  .header-text p {
    font-size: 10px;
  }
  /* Mid Section */
  .company .company-item {
    margin-left: 30px;
  }
  .blog-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 0 0;
    padding-bottom: 60px;
    /* background-color: aquamarine; */
    flex-flow: wrap;
  }
  .blog-card {
    flex-grow: 1;
    padding-bottom: 50px;
  }
  .blog-bottom img {
    left: 40px;
  }
}


/* Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  /* Navigation */
  .nav-right i {
    display: none;
  }
  .header-image {
    width: 400px;
    margin-top: 20px;
  }
  /* Mid Section */
  .blog-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 0 0;
    padding-bottom: 60px;
    /* background-color: aquamarine; */
  }
  .blog-card {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  .blog-cards .blog-card-2 {
    margin-left: 30px;
  }
  .blog-bottom img {
    left: 40px;
  }
  .blog-bottom b {
    left: 150px;
    /* background-color: yellow; */
  }
}


/* Extra large screens, TV */
@media (min-width: 1201px) {
  /* Navigation */
  .nav-right i {
    display: none;
  }
  .header-image {
    margin-top: 20px;
  }
  /* Mid Section */
  .blog-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px 0 0 0;
    padding-bottom: 60px;
    background-color: aquamarine;
  }
  .blog-card {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  .blog-cards .blog-card-2 {
    margin-left: 30px;
  }
  .blog-bottom img {
    left: 40px;
  }
}